@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
}
/* body{
    background-color: black;
    color: white;
} */
li{
    cursor: pointer;
}
.hamburger{
    width: 4vw;
    margin-bottom: 2vh;
    display: none;
}
.logo img{
    width: 7vw;
}
.left{
    width: 25vw;
    height: 100vh;
    padding: 1vw;
}
.right{
    width: 75vw;
    height: 92vh;
    position: relative;
}
.home ul li{
    cursor: pointer;
    display: flex;
    gap: 1.5vw;
    text-decoration: none;
    width: 1.5vw;
    padding-top: 2vh;
    font-size:1.5vw;
}
.heading{
    cursor: pointer;
    display: flex;
    gap: 1.5vw;
    width: 1.5vw;
}
.heading h4,img{
    font-size: 1.5vw;
}
.library{
    height: 62vh;
}
.footer{
    left: 2.2vw;
    position: absolute;
    bottom: 3vh;
    cursor: pointer;
    display: flex;
    gap: 1.5vw;
    font-size: 0.8vw;
    text-decoration: none;
    padding-top: 2vh;
}
.footer a{
    text-decoration: none;
    color: grey;
    cursor: pointer;
}
.right{
    margin: 4vh;
}
.nav{
    cursor:pointer;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 1vw;
}
.header button,svg{
    border: 1px solid white;
    border-radius: 100%;
    width: 3vw;
    height: 5vh;
}
.header button{
    background-color: white;
    font-weight: 600;
    font-size: 1vw;
    border-radius: 5vw;
    width: 7vw;
    height: 7vh;
    margin-right: 1vw;
    cursor: pointer;
}
.btn{
    opacity: 0.5;
}
button:hover,.playBtn:hover,.btn:hover{
    scale:0.9;
}
.playlists{
    padding-left: 1.5vw;
}
.playlists h2{
    font-weight: 900;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    margin: 2vw;
}
.cardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    /* overflow-y: scroll; */
    max-height: 60vh;
}
.card img{
    height: 18vh;
}
.card h3{
    font-size: 1vh;
}
.playBar{
    padding-left: 2vw;
    padding-right: 2vw;
    justify-content: space-between;
    align-items: center;
    left: 2vw;
    height: 10vh;
    position: absolute;
    bottom: 2vh;
    width: 95%;
    border: 0.1vw solid white;
    border-radius: 1vw;
}
.close{
    display: none;
}
.songButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.playBtn{
    cursor: pointer;
    width: 4vw;
}
.btn{
    cursor: pointer;
    border-radius: 5vw;
    width: 3vw;
    background-color: white;
}
.songList ul{
    margin: 2vw;
}
.songList ul li{
   list-style-type: decimal;
   margin-top:1vh;
   /* border: 0.1vw solid white; */
   font-size:1.2vw;
   padding: 1vw;
   /* border-radius: 25%; */
}
.songInfo{
    font-weight:900;
    font-size: 1vw;
}
.seekBar{
    left: 3.9vw;
    height: 2vh;
    width: 90%;
    border-radius: 1vw;
    position: absolute;
    bottom: 13vh;
    border: 0.5vh solid #00ff0067
}
.circle{
    height: 4vh;
    width: 2vw;
    border-radius: 1vw;
    background-color: black;
    position: relative;
    bottom: 2vh;
    left: 0%;
    transition: left 0.5s;
}